:focus {
    outline: 0;
}

.sticky {
    width: 300px;
    background: #fefefe;
    border: 1px solid #00699A;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 30px 0px 12px rgba(0, 0, 0, 0.3);
}

.sticky-content {
    min-height: 150px;
    border-left: 2px dashed rgba(0, 124, 183, .5);
    margin-left: 30px;
    padding: 5px;
}

.sticky-header {
    padding: 5px;
    background: #007cb7;
    cursor: move;
    color: white;
    border-radius: 0px;
}

.sticky-status {
    color: white;
    padding: 5px;
}

.close-sticky, .reduce-sticky, .plus-sticky {
    float: right;
    cursor: pointer;
    color: white;
    padding: 0px 2px;
    margin-left: 5px;
}

.sticky .fa {
    font-size: 18px;
}