@font-face {
    font-family: 'oswald';
    src: url(../fonts/oswald.eot);
    src: url(../fonts/oswald.eot?#iefix) format('embedded-opentype'),
    url(../fonts/oswald.woff2) format('woff2'),
    url(../fonts/oswald.woff) format('woff'),
    url(../fonts/oswald.ttf) format('truetype'),
    url(../fonts/oswald.svg#oswald) format('svg');
    font-weight: 400;
    font-style: normal
}

body {
    min-width: 400px;
}

h1, h2, h3, h4, h5, h5,
#titleLogin,
#subTitleLogin,
#logoTxt,
.btn,
ul#menuHead li,
ul#menuHead li a,
button, input[type=button], input[type=reset], input[type=submit],
#aLogout,
#div_note > p,
.labelConcept,
.labelTraduction,
.spanTraduction,
.labelExclure,
.DivIconTxt {
    font-family: 'Oswald', Helvetica, Arial, sans-serif !important;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h4 {
    line-height: 26px;
}

label {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 100;
}

input {
    border: 1px solid rgba(100, 100, 100, 0.3);
    background-color: rgba(100, 100, 100, 0.01);
}

select, optgroup, input, button {
    height: 30px;
    border-radius: 0px !important;
    padding: 3px 6px !important;
}

button, .btn, .btn-default, .btn-primary,
input[type=button], input[type=reset], input[type=submit],
.btn-primary,
.btn-danger,
.btn-success {
    border-radius: 0;
    background: none;
    text-shadow: none;
    background-color: #007cb7;
    font-size: 1em !important;
    line-height: 22px;
    padding: 3px 6px;
    box-shadow: none;
    border: 1px solid #00699A;
    color: #fff;
    outline: 0;
}

button:focus, button:hover, button:active,
button.btn:focus, button.btn:hover, button.btn:active,
.btn-primary:focus, .btn-primary:hover, .btn-primary:active,
.btn-default:focus, .btn-default:hover, .btn-default:active,
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
    background-color: #00699A;
    color: #fff;
    border: 1px solid #00699A;
}

textarea[disabled] {
    border-radius: 0px;
    border: 1px solid rgb(102, 102, 102);
    opacity: 0.2;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100px;
    background: rgb(221, 221, 221);
    color: #007cb7;
    opacity: 0.7;
    font-family: 'Oswald', Helvetica, Arial, sans-serif !important;
    letter-spacing: 1px;
}

ul#menuHead {
    background: #007cb7;
    border-radius: 0;
    border-bottom: 1px solid #00699A;
}

ul#menuHead li {
    border-radius: 0;
    background: #00699A;
    border: rgba(0, 105, 154, 0.86);
    height: 36px;
    top: 4px;
    padding-left: 1%;
    padding-right: 1%;

}

ul#menuHead li.ui-tabs-active {
    background: #ffffff;
    border: 1px solid #00699A;
    border-bottom: none;
    height: 40px;
    top: 0px;
}

ul#menuHead li a {
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    font-weight: 200;
    outline: 0;
    padding: .5em 0;
}

ul#menuHead li.ui-tabs-active a {
    color: #007cb7;
    line-height: 30px;
    font-weight: 600;
}

.menuTxt, .btnTxt {
    padding-left: 5px;
}

li#logoTxt {
    margin: 0 1.5%;
    line-height: 36px;
    font-size: 26px;
    display: inline-block;
    background: transparent !important;
    border: none;
    color: #fff;
    letter-spacing: 3px !important;
    font-weight: 500;
}

i.fa {
    vertical-align: middle;
    height: 20px;
}

/*
 *
 *  REGISTER FORM **********************************************************************************************************************************************
 */
#divRegister {
    background: white;
    color: black;
    padding: 10px 20px;
}

#divRegister a {
    color: black;
}

#divRegister a:hover, #contenu a:focus {
    color: black;
}

#divRegister strong {
    color: black;
}

#divRegister {
    min-height: 380px;
}

#divRegister > :first-child {
    margin-top: 10px;
}

#divRegister p, #divRegister li {
    line-height: 1.5;
}

/*
 *
 *  FORM **********************************************************************************************************************************************
 */
.form_classic_div {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.form_classic_title {
    min-width: 200px;
    text-align: left;
    float: left;
/ / padding-left : 10 px;
    font-weight: 500;
}

.addForm {
    border: 1px solid #045177;
    padding: 10px;
    margin-top: 50px;
    padding-top: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.9) inset, 0 3px 8px rgba(0, 0, 0, 0.4);
    min-width: 600px;
}

.form_classic_input input {
    width: 80%;
}

.form_center_div {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.submitButton {
    padding: 5px;
}

/*
 * LOGIN FORM **********************************************************************************************************************************************
 */
#inputNameLogin, #inputPasswordLogin {
    min-width: 200px;
}

#titleLogin {

    height: 500px;
    width: 300px;
    margin: 30px auto 10px;
    background: transparent url(../img/logo_B) no-repeat center;
    background-size: auto 100%;
}

#titleLogin h1 {
    font-weight: bold;
    text-align: center;
    font-size: 48px;
    display: none;
}

#subTitleLogin {
    text-align: center;
    font-size: 22px;
    margin-bottom: 30px;
}

#divInscription {
    text-align: center;
    margin: 22px;
}

#formLogin,
#formRegister,
#formForget {
    border: 1px solid rgba(0, 124, 183, 0.5);
    width: 360px;
    min-width: 360px;
    margin: auto;
    text-align: left;
    padding: 10px;
    margin-top: 50px;
    background-color: #fff;
/ / box-shadow : 0 px 0 px 1 px rgba(0, 0, 0, 0.9) inset, 0 3 px 8 px rgba(0, 0, 0, 0.4);
    box-shadow: none;
}

#formLogin > label,
#formRegister > label,
#formForget > label {
    width: 94%;
    margin: 5px auto 5px;
    font-weight: 200;
    display: block;
}

#formLogin input,
#formRegister input,
#formRegister select,
#formForget input {
    width: 94%;
    margin: 0 auto 10px;
    display: block;
    padding: 3px 6px;
    font-size: 1.2em;

}

#formLogin > span,
#formRegister > span,
#formForget > span {
    text-align: center;
    width: 94%;
    margin: auto;
    display: block;
}

#formLogin h4,
#formRegister h4,
#formForget h4 {
    color: #007cb7;
    width: 100%;
    display: block;
    text-align: center;
    border: 0;
    border-bottom-width: 1px;
    border-style: solid;
    -webkit-border-image: -webkit-linear-gradient(90deg, rgba(0, 124, 183, 0), rgba(0, 124, 183, 0.6), rgba(0, 124, 183, 0)) 0 60%;
    -moz-border-image: -moz-linear-gradient(90deg, rgba(0, 124, 183, 0), rgba(0, 124, 183, 0.6), rgba(0, 124, 183, 0)) 0 60%;
    -o-border-image: -o-linear-gradient(90deg, rgba(0, 124, 183, 0), rgba(0, 124, 183, 0.6), rgba(0, 124, 183, 0)) 0 60%;
    border-image: linear-gradient(90deg, rgba(0, 124, 183, 0), rgba(0, 124, 183, 0.6), rgba(0, 124, 183, 0)) 0 60%;
    border-image-slice: 1;
}

/*
 * INDEX FORM**********************************************************************************************************************************************
 */
.divTraduction, .divResume {
    padding-left: 20px;
}

.divResume {
    display: inline-block;
    width: calc(100% - 220px);
}

#divWrapSearch {
    display: inline-block;
    width: 200px;
    margin-top: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    border: 0;
    border-left-width: 1px;
    border-style: solid;
    -webkit-border-image: -webkit-linear-gradient(rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 0 60%;
    -moz-border-image: -moz-linear-gradient(rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 1 60%;
    -o-border-image: -o-linear-gradient(rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 1 60%;
    border-image: linear-gradient(rgba(130, 130, 130, 0), rgba(130, 130, 130, 0.6), rgba(130, 130, 130, 0)) 0 60%;
    border-image-slice: 1;
}

.divWrapResume {
    position: relative;
}

#tableSearch, #subTableSearch {
    height: 100%;
    vertical-align: middle;
    display: table;
}

#subTableSearch {
    height: 100%;
    vertical-align: middle;
    display: table-cell;
    padding-left: 7px;
}

.buttonRemoveField, .buttonAddTraduction {
    margin-left: 5px;
    padding: 0px;
}

.inputConcept, .inputTraduction, .inputExclusion {
/ / margin-bottom : 10 px;
}

.inputTraduction, .inputExclusion {
    width: calc(100% - 40px);
    display: inline-block;
    height: 30px;
    background-color: rgba(100, 100, 100, 0.01);
}

.inputConcept {
    width: 100%;
    height: 30px;
}

.labelConcept, .divConcept, .labelTraduction {
    margin-top: 10px;
}

.labelResearch, .labelTraduction {
    margin-top: 10px;
}

.labelTraduction,
.labelExclure {
    margin-bottom: 16px;
    display: block;
    width: auto;
    border: none;
    font-size: 15px;
}

.labelTraduction {
    margin-bottom: 0px;
}

.spanTraduction {
    font-size: 20px;
    line-height: 40px;
    color: #007cb7;
    width: 100%;
    display: block;
/ / text-align : center;
/ / margin : 20 px 0;
/ / border : 0;
/ / border-bottom-width : 1 px;
/ / border-style : solid;
/ / -webkit-border-image : -webkit-linear-gradient(90 deg, rgba(0, 124, 183, 0), rgba(0, 124, 183, 0.6), rgba(0, 124, 183, 0)) 0 60 %;
/ / -moz-border-image : -moz-linear-gradient(90 deg, rgba(0, 124, 183, 0), rgba(0, 124, 183, 0.6), rgba(0, 124, 183, 0)) 0 60 %;
/ / -o-border-image : -o-linear-gradient(90 deg, rgba(0, 124, 183, 0), rgba(0, 124, 183, 0.6), rgba(0, 124, 183, 0)) 0 60 %;
/ / border-image : linear-gradient(90 deg, rgba(0, 124, 183, 0), rgba(0, 124, 183, 0.6), rgba(0, 124, 183, 0)) 0 60 %;
/ / border-image-slice : 1;
}

#divTraductionMain, #divResumeMain, .hide {
    display: none;
}

#divSubject, #divConceptMain, #divTraductionMain, #divResumeMain {
    margin: 20px;
}

#tableHeadConcept td, #tableConcept td, th {
    padding: 10px;
    width: 120px;
}

#tdBrowser {
    width: 270px;
}

#tableResearch {
    margin-left: 30px;
}

#tableHeadConcept td:first-child {
    font-style: italic;
    font-weight: normal;
}

#tableConcept th {
    font-style: italic;
    font-weight: normal;
    text-align: center;
}

.divClick, .divHead {
    padding: 10px 20px;
    max-width: 200px;
    margin: 3px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid rgba(100, 100, 100, 0.3);
    background-color: rgba(100, 100, 100, 0.2);
}

.divClick {

}

#buttonCloseIframe {
    top: 0px;
    position: fixed;
    right: 0px;
    z-index: 2;
    display: none;
    width: 50px;
    height: 41px;
}

#divSticky {
    text-align: center;
/ / margin-bottom : 10 px;
    margin-bottom: -34px;
}

#divSticky .btn.btn-primary {
    border: 1px solid #007cb7;
/ / border-radius : 3 px 3 px 0 0;
    padding-top: 3px;
    line-height: 16px;
}

#divSticky .btn.btn-primary .fa {
    padding-top: 2px;
}

.divHead {
    cursor: auto;
    font-weight: bold;
}

.backgroundSelected {
    background-color: rgba(0, 124, 183, 0.95);
    color: #fff;
}

.backgroundNotSelected {
/ / background-color : white;
}

.tdConcept {
    margin-right: 20px;
}

table {
    display: inline-block;

}

#tableConcept, #tableHeadConcept {
    border-collapse: separate;
}

iframe {
    display: none;
    height: 100%;
    width: 50%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

.btnTrads {
    position: absolute;
    top: 16px;
    right: 0;
}

.itemTrad {
    margin-right: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    line-height: 12px;
    color: #999;
    display: inline-block;
    padding: 2px 5px;

    border-radius: 0;
    background: none;
    text-shadow: none;
    background-color: #007cb7;
    font-size: 1em !important;
    line-height: 22px;
    padding: 3px 6px;
    box-shadow: none;
    border: 1px solid #00699A;
    color: #fff;
    outline: 0;
}

.itemTrad:hover {
    background-color: #00699A;
}

.buttonTrad {
    vertical-align: top;
}

.divContainerMainTraduction,
.divContainerResumeKeywords,
.divExclusionMain {
    margin: 20px 0 30px;
    padding: 10px;
    border: 1px solid rgba(102, 102, 102, 0.2);
    position: relative;
}

.divContainerMainTraduction:nth-child(even) {
/ / background : rgba(240, 240, 240, 0.1);

}

.leftPanel {
    width: 50%;
}

.fullPanel {
    width: 100%;
}

.navDivButton {
    margin: 0 3%;
    width: 94%;
}

.navDivButton .divButton {
    display: inline-block;
    margin: 0 1%;
    width: 48%;
}

textarea {
    width: 100%;
    height: 100px;
    border-radius: 0px;
    padding: 5px;
}

#linkPubMed {
}

#pDesc .formResearchHisto {
    vertical-align: top;
    text-align: left;
}

#listResearch {
    width: 60%;
}

#pDesc .formResearchHisto select, #pDesc .formResearchHisto button {
    display: inline-block;
    margin: 5px 1% 5px 0;
    vertical-align: top;
}

#newResearch {
    text-align: center;
    margin: 10px 2%;
}

.show {
    display: block;
}

#divErrorLink, #divErrorTraduction, #divErrorConcept {
    color: red;
    margin-top: 5px;
    font-family: 'Oswald', 'Helvetica';
    font-size: 1.2em;
    text-align: center;
}

#linkPubMed, #linkGoogleScholar {
    cursor: pointer;
}

.notactive {
    pointer-events: none;
}

.active {
    pointer-events: all;
}

.center {
    text-align: center;
}

.exportUserLog {
    margin-right: 15px;
}

#infoLog {
    font-style: italic;
    font-size: 0.7em;
    margin-bottom: 40px;
    color: #999;
}

.divContainerTraduction,
.divContainerExclusion {
    margin: 10px 0;
}

.divContainerTraduction.sup .inputTraduction, .divContainerTraduction.sup.inputExclusion.sup {
    width: calc(100% - 40px);
    display: inline-block;
}

.buttonAddTraduction, .buttonRemoveField, .buttonAddExclusion {
    height: 29px;
    width: 29px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 7px !important;
}

html, body {
    height: 100%;
}

.content {
    position: relative;
    height: 100%;
    width: 100%;
}

#tabs {
    width: 100%;
    border: 0px;
    padding: 0;
}

#div_note {
    width: 100%;
    height: 150px;
    display: none;
    border-top: 5px solid #007cb7;
    text-align: center;
    font-family: 'Oswald', 'Helvetica';
    color: #007cb7;
    font-size: 2em;
    line-height: 3em;
    font-weight: bold;
}

#div_note p {
    opacity: 0.1;
    margin-top: 30px;
}

.row {
    padding: 6px 0;
    margin: 0;
}

.row:nth-child(even) {
    background: rgba(0, 124, 183, 0.2);

}

.row.header {
    background: #007cb7;
    color: #ffffff;
}

.row h3 {
    font-size: 16px;
    font-weight: bold;
}

.row div[class^="col-md"] {
    word-break: break-word;
}

#forget {
    text-align: center;
}

#tabLog {
    margin: 20px auto;
    width: 96%;
    padding: 0;
    border: 1px solid rgba(0, 124, 183, 0.7);
    border-radius: 0;
}

#tabCurrent {
    min-height: 745px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

#tabList fieldset {
    text-align: center;
}

#title {
    margin-top: 20px;
    font-weight: bold;
    font-size: 3em;
    text-indent: -9999px;
    height: 300px;
    width: 300px;
    margin: 30px auto 10px;
    background: transparent url(../img/logo_B) no-repeat center;
    background-size: auto 100%;
}

#subtitle {
    margin-bottom: 60px;
    font-size: 0.9em;
    color: #007cb7;
}

#pWelcome {
    margin-bottom: 20px;
    text-align: left;
}

#pDesc {
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 124, 183, 0.7);
    padding: 10px;
    background: rgba(0, 124, 183, 0.1);
}

#labelList {
    display: block;
    font-weight: normal;
    margin-top: 40px;
}

#pseudo {
    font-weight: bold;

}

#formProfil {
/ / width : 50 %;
/ / margin : auto;
/ / margin-top : 20 px;
    border: 1px solid rgba(0, 124, 183, 0.5);
    width: 60%;
    min-width: 360px;
    margin: auto;
    text-align: left;
    padding: 10px;
    margin-top: 50px;
    background-color: #fff;
}

#formProfil input,
#formProfil select {
    width: 100%;
}

#formProfil input[type=radio] {
    width: auto;
}

#formProfil .radioGroup input,
#formProfil .radioGroup label {
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 0;
    height: 30px;
    line-height: 30px;
    vertical-align: top;
}

#formProfil .radioGroup label {
    margin-right: 30px;
}

#contenu {
    width: 100%;
}

#aLogout {
    position: fixed;
    top: 13px;
    right: 10px;
    text-align: right;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

#aLogout .menuTxt {
    display: none;
}

#aLogout i.fa {
    font-size: 25px;
    height: 26px;
}

#overlay {
    width: 100%;
    height: 600px;
    background: white url(../img/ajax.gif) no-repeat center;
    z-index: 999;
}

#DivAnd,
#DivRearchResult {
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: rgba(100, 100, 100, 0.2);
    margin: -25px 0 -10px;
}

#DivRearchResult {
    color: rgba(0, 124, 183, 0.9);
}

.DivIconTxt {
    font-size: 15px;
    display: block;
}

#divBrowser {
    margin: 50px auto 30px;
    width: 100%;
    text-align: center;
}

#copyright {
    color: #00699A;
    font-size: 0.8em;
}

@media screen and (max-width: 991px) {
    #tabLog.col-md-1, #tabLog.col-md-2, #tabLog.col-md-3,
    #tabLog.col-md-4, #tabLog.col-md-5, #tabLog.col-md-6,
    #tabLog.col-md-7 {
        border-bottom: 1px solid rgba(180, 180, 180, 0.3);
    }

    .row .last {
        border: none;
    }

    .row.header {
        display: none;
    }

    .menuTxt, .btnTxt {
        display: none;
    }

    ul#menuHead li a {
    / / padding : .5 em 0;
    }

    ul#menuHead li {
        padding-left: 2%;
        padding-right: 2%;
    }

    #listResearch {
        width: 100%;
    }

    #pDesc .formResearchHisto {
        text-align: center;
    }

    #tabCurrent .col-md-4 {
        width: 33.33333333%;
        float: left;
        border: none;
        padding: 0;
    }

}

@media screen and (max-width: 600px) {
    .itemTrad {
        white-space: nowrap;
        width: 42px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #divWrapSearch {
        display: block;
        width: 100%;
        margin-top: 30px;
        text-align: center;
        position: relative;
    }

    #tableSearch, #subTableSearch {
        display: block;

    }

    .divResume {
        width: 100%;
    }

}

.error {
    color: red;
    font-family: 'Oswald', 'Helvetica';
    font-size: 1.2em;
    text-align: center;
    display: none;
}

.success {
    color: green;
    font-family: 'Oswald', 'Helvetica';
    font-size: 1.2em;
    text-align: center;
}

.red {
    color: red;
}

#textInfo {
    margin: 50px;
    text-align: justify;
    border: 1px solid rgba(0, 124, 183, 0.5);
    padding: 10px;
}

.mandatory_input {
    border: 1px solid rgb(183, 0, 0);
    background-color: rgba(183, 0, 0, 0.0980392);
}

footer {
    text-align: center;
    border-top: 1px solid rgba(0, 124, 183, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 80px;

}

#main-wrapper {
    padding: 0 0 100px;
    position: relative;
    box-sizing: border-box;
    min-height: 100%;
}

#divForget {
    min-height: 240px;
}

.tooltip-all:hover:after {
    border: 1px solid rgba(0, 124, 183, 0.5);
    background-color: rgba(0, 124, 183, 0.5);
    color: white;
    padding: 3px 6px;
    content: attr(data-title);
    position: absolute;
    right: 0px;
    top: -80px;
    text-align: left;
}

#copyright{
	text-align: center;
}
